@media screen and (max-width:670px){

nav{
    flex-direction: column;
}
.logo1{
  margin-right:200px;
  width: 100px;
}
.logo1 img{
    width: 100%;
}
li a{
    display: none;
}
.login a{
   text-decoration: none;
   color:green;
   font-size: 15px;
   margin-left: 200px;
}
.sinup a{
  
   font-size: 15px;
   border-radius: 10px;
   padding: 10px 15px;
}
.bars{
    display:block;
    position: absolute;
    top: 0;
    right: 0;
}