@media screen and (max-width:670px){

nav{
    flex-direction: column;
    padding:25px;

}
.logo1{
  margin-left:50px;
  width: 100px;
}
.logo1 img{
    width: 100%;
}
li a{
    display: none;
}
.angerbtn {
    display: flex; 
}
.login a{
   text-decoration: none;
   color:green;
   font-size: 15px;
   display: none;

}
.sinup a{
  
   font-size: 15px;
   border-radius: 10px;
   padding: 10px 15px;
   display: none;
}
.bars{
    display:block;
    position: absolute;
    top: 25px;
    right:15px;
    font-size: 25px;
}
.shwomenu{
    display: block;
}
}