*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 25px 25px;
}
.logo1{
    width: 150px;
}
.logo1 img{
    width: 100%;
}
ul{
    list-style: none;
    font-size: 18px;
}
li{
    display: inline-block;
}
li a{
    text-decoration: none;
    padding: 15px;
    color: black;
}
.angerbtn {
    display: flex; 
    gap: 30px;
}
.login a{
   text-decoration: none;
   color:green;
   font-size: 18px;
}
.sinup a{
   text-decoration: none;
   background-color: green;
   color: black;
   font-size: 18px;
   border-radius: 10px;
   padding: 15px 25px;
}
.bars{
    display: none;
}
/* container-1 */
.container-1{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color:#F5F7FA ;
    padding: 50px;
}
.hedaer{
    margin-top: 80px;
}
.hedaer h1{
    font-size: 55px;
    font-weight: bolder;
    color:#4D4D4D ;
    line-height: 1.3;
}
.hedaer h2{
    font-size: 55px;
    font-weight: bolder;
    color:#4CAF4F ;
    line-height: 1.3;
}
.hedaer p{
    color: black;
    font-size: 20px;
    line-height: 1.5;

}
.regis-link{
    margin-top:50px;
}
.regis-link a{
 text-decoration: none;
 color: black;
 font-size: 20px;
 padding: 10px 20px;
 background-color: #4CAF4F;
 border-radius: 5px;
}
.headimg{
    width: 450px;
    height: auto;
}
.headimg img{
    width: 100%;
    height: 100%;
}
/* 2 */
.container-2{
 display: flex;
 flex-direction: column;
 padding: 20px;
}
.one{
   text-align: center;
   margin: 30px;
   text-wrap: wrap;
   font-size: 20px;
}
.one h2{
    color: #4D4D4D;
    font-size:40px;
}
.two{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 20px;
}
.three{
    text-align: center;
    text-wrap: wrap;
    margin: 30px;
    font-size: 20px;
}
.three h2{
    color: #4D4D4D;
    font-size: 40px;
}
/* 3 */
.four{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    padding: 20px;
}
.contect-1{ 
   
    text-align: center;
    text-wrap:wrap;
    padding: 20px;
}
.icn{
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; */
    width: 50px;
    height: 50px;
    margin-left: 150px;
}
.icn img{
    width: 100%;
    height: 100%;
}
.hed h2,p{
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
     padding: 10px;
}
.hed h2{
    color: #4D4D4D;
    font-size: 30px;
}
.hed p{
    color: black;
    font-size: 18px;
}
