*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 25px 25px;
}
.logo1{
    width: 150px;
}
.logo1 img{
    width: 100%;
}
ul{
    list-style: none;
    font-size: 18px;
}
li{
    display: inline-block;
}
li a{
    text-decoration: none;
    padding: 15px;
    color: black;
}
.angerbtn {
    display: flex; 
    gap: 30px;
}
.login a{
   text-decoration: none;
   color:green;
   font-size: 18px;
}
.sinup a{
   text-decoration: none;
   background-color: green;
   color: black;
   font-size: 18px;
   border-radius: 10px;
   padding: 15px 25px;
}
.bars{
    display: none;
}
/* container-1 */
.container-1{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color:#F5F7FA ;
    padding: 50px;

}
.hedaer{
    margin-top: 80px;
}
.hedaer h1{
    font-size: 55px;
    font-weight: bolder;
    color:#4D4D4D ;
    line-height: 1.3;
}
.hedaer h2{
    font-size: 55px;
    font-weight: bolder;
    color:#4CAF4F ;
    line-height: 1.3;
}
.hedaer p{
    color: black;
    font-size: 20px;
    line-height: 1.5;

}
.regis-link{
    margin-top:50px;
}
.regis-link a{
 text-decoration: none;
 color: black;
 font-size: 20px;
 padding: 10px 20px;
 background-color: #4CAF4F;
 border-radius: 5px;
}
.headimg{
    width: 450px;
    height: auto;
}
.headimg img{
    width: 100%;
    height: 100%;
}